.button,
input,
textarea {
  background-color: white;
  border: 4px solid black;
  color: black;
  padding: 15px 40px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(167, 167, 167);
}

#delete {
  padding: 8px 18px;
}

input {
  width: 40%;
  cursor: text;
}

textarea {
  width: 70%;
  height: 200px;
  cursor: text;
}

table {
  width: 70%;
  border: 4px solid;
  padding: 15px;
  text-align: center;
}

tr,
td {
  border-left: 4px solid;
  border-right: 4-x solid;
}

tr#first {
  border-bottom: 4px solid;
}

tr.rows:hover {
  background-color: rgb(200, 200, 200);
}
